[submodule "packages/imgui"]
	path = packages/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "packages/sokol"]
	path = packages/sokol
	url = git@github.com:floooh/sokol.git
[submodule "packages/lua"]
	path = packages/lua
	url = git@github.com:lua/lua.git
[submodule "packages/RxCpp"]
	path = packages/RxCpp
	url = git@github.com:stevenwdv/RxCpp.git
